{% extends "products/base.html" %}
{% load staticfiles %}
{% block css %}
  <link href="{% static "css/3-col-portfolio.css" %}" rel="stylesheet">
{% endblock css%}

{% block content %}
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Products
        <!-- <small>buy one</small> -->
      </h1>

      {% for product in products %}
          {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:"3" %}
        </div>
          {% endif %}
        {% if forloop.counter0|divisibleby:"3" %}
          <div class="row">
        {% endif %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="{{product.get_absolute_url}}"><img class="card-img-top" src="{{product.images.first.image.url}}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{{product.get_absolute_url}}">{{product.title}}</a>
              </h4>
              <p class="card-text">{{product.description}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
    <!-- /.container -->
{% endblock content%}